<% provide(:title, 'All Questions') %>
    <div class="Index">
        <% @questions.each do |question| %>
      <h6>
        <%= link_to question.user.name, users_showpage_path(:id => question.user.id) %>
      </h6>
      <h6>
        <%= time_ago_in_words(question.created_at) %>
      </h6>
      <h2>
      <%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %>
      </h5>
        <% if current_user?(question.user) %>
      <h6>
        <%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to "Delete", question, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
      </h6>
    </div>

<%= will_paginate %>

<% @articles.each do |article| %>
   <%= article.title %>
   <%= article.deck %>
<% end %>