<% provide(:title, @user.name) %>
<ul>
<li><%= @question.content %></li>
<li><%= @question.user.name %></li>
<li><%= render 'follow_form' if signed_in? %></li>
<li><%= render 'followerstats' if signed_in? %></li>
<li><%= render 'questions' if signed_in? %></li>
</ul>
<ul>
	<li><%= @question.answers.count %></li>
    <% @question.answers.each do |answer| %>
      <li><%= answer.answer_content %></li>
    </ul>
<% end %>
<% @question.tags.any? %>
	<% @question.tags.each do |tag| %>
	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %> 