<% provide(:title, @user.name) %>
<ul>
<li><%= @question.content %></li>
<li><%= @question.user.name %></li>
<li><%= render 'follow_form' if signed_in? %></li>
<li><%= render 'followerstats' if signed_in? %></li>
<li><%= render 'questions' if signed_in? %></li>
</ul>
<tr>
    <% @question.answers.each do |answer| %>
         <td><%= @question.answers.count %></td>
      <td><%= answer.answer_content %></td>
      <td><%= link_to 'Show', user_question_path(:email => @question.user.id, :id => @question.id) %></td>
       <% if @question.user == current_user %>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
<% end %>