<% provide(:title, 'Article Generator') %>
<div class="row">
<%= form_for(:article) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :deck %>
      <%= f.text_field :deck %>

      <%= f.label :introduction %>
      <%= f.text_field :introduction %>

      <%= f.submit "Create article", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>