<% provide(:title, 'Article Generator') %>

<div class="row">
<%= form_for Article.new, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

	    <%= f.label :image %>
  	  <%= f.file_field :image, class: "form-control" %>

      <%= f.label :deck %>
      <%= f.text_field :deck %>

      <%= f.label :introduction %>
      <%= f.text_field :introduction %>

      <%= f.label :headingone %>
      <%= f.text_field :headingone %>

      <%= f.label :bodyone %>
      <%= f.text_field :bodyone %>

      <%= f.label :headingtwo %>
      <%= f.text_field :headingtwo %>

      <%= f.label :bodytwo %>
      <%= f.text_field :bodytwo %>

      <%= f.label :headingthree %>
      <%= f.text_field :headingthree %>

      <%= f.label :bodythree %>
      <%= f.text_field :bodythree %>

      <%= f.label :headingfour %>
      <%= f.text_field :headingfour %>

      <%= f.label :bodyfour %>
      <%= f.text_field :bodyfour %>

      <%= f.label :tags %>
      <%= f.text_field :tag_list %>

      <%= f.submit "Create article", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>