<% provide(:title, 'Article Generator') %>

<div class="row">
<%= form_for Article.new, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

	    <%= f.label :image %>
  	  <%= f.file_field :image, class: "form-control" %>

      <%= f.label :deck %>
      <%= f.text_field :deck %>

      <%= f.label :introduction %>
      <%= f.text_field :introduction %>

      <%= f.label :tags %>
      <%= f.text_field :tag_list %>

      <%= f.submit "Create article", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>