<% provide(:title, @article.title) %>

<div class="panel-group" id="accordion">
	<h2><%= @article.title %></h2>
	<h4><%= @article.deck %></h4>
	<h5><%= @article.introduction %></h5>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= link_to @sectionone.headingone, sectionones_showpage_path %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= link_to @sectionone.contentone, sectionones_showpage_path %>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= link_to @sectiontwo.headingtwo, sectiontwos_showpage_path %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= link_to @sectiontwo.contenttwo, sectiontwos_showpage_path %>
      </div>
    </div>
  </div>