<% provide(:title, @article.title) %>

<div class="panel-group" id="accordion">
  <h2><%= @article.title %></h2>
  <%= image_tag @article.image.url(:medium) %>
  <h4><%= @article.deck %></h4>
  <h5><%= @article.introduction %></h5>

<%= form_for([@article, @sectionone]) do |f| %>
  <div class="field">
    <%= f.text_area :contentone %>
  </div>
  <button class="btn" type="Submit">
    Create
  </button>
<% end %>

<ul>
  <li><%= @article.sectionones.count %></li>
    <% @article.sectionones.each do |sectionones| %>
      <li><%= sectionones.contentone %></li>
        <%= link_to 'Upvote', like_article_sectionone_path(:article_id => @article.id, :id => sectionones.id), method: :put %>
  <%= link_to 'Downvote', dislike_article_sectionone_path(:article_id => @article.id, :id => sectionones.id), method: :put %>
    </ul>
<% end %>

<%= form_for([@article, @sectiontwo]) do |f| %>
  <div class="field">
    <%= f.text_area :contenttwo %>
  </div>
  <button class="btn" type="Submit">
    Create
  </button>
<% end %>

<ul>
  <li><%= @article.sectiontwos.count %></li>
    <% @article.sectiontwos.each do |sectiontwos| %>
      <li><%= sectiontwos.contenttwo %></li>
    </ul>
<% end %>

  <%= link_to 'Upvote', like_article_sectiontwo_path(:article_id => @article.id, :id => @article.id), method: :put %>
  <%= link_to 'Downvote', dislike_article_sectiontwo_path(:article_id => @article.id, :id => @article.id), method: :put %>

<%= form_for([@article, @sectionthree]) do |f| %>
  <div class="field">
    <%= f.text_area :contentthree %>
  </div>
  <button class="btn" type="Submit">
    Create
  </button>
<% end %>

<ul>
  <li><%= @article.sectionthrees.count %></li>
    <% @article.sectionthrees.each do |sectionthrees| %>
      <li><%= sectionthrees.contentthree %></li>
        <%= link_to 'Upvote', like_article_sectionthree_path(:article_id => @article.id, :id => sectionthrees.id), method: :put %>
  <%= link_to 'Downvote', dislike_article_sectionthree_path(:article_id => @article.id, :id => sectionthrees.id), method: :put %>
    </ul>
<% end %>

<%= form_for([@article, @sectionfour]) do |f| %>
  <div class="field">
    <%= f.text_area :contentfour %>
  </div>
  <button class="btn" type="Submit">
    Create
  </button>
<% end %>

<ul>
  <li><%= @article.sectionfours.count %></li>
    <% @article.sectionfours.each do |sectionfours| %>
      <li><%= sectionfours.contentfour %></li>
        <%= link_to 'Upvote', like_article_sectionfour_path(:article_id => @article.id, :id => sectionfours.id), method: :put %>
  <%= link_to 'Downvote', dislike_article_sectionfour_path(:article_id => @article.id, :id => sectionfours.id), method: :put %>
    </ul>
<% end %>

<% @article.tags.any? %>
  <% @article.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>