<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
      <h1>
        <%= @user.name %>
      </h1>
    <section>
    </section>
  </aside>
  <table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Question</th>
      <th>Question Age</th>
      <th>Follow?</th>
    </tr>
  </thead>
  <tbody>
    <% @user.questions.each do |question| %>
      <tr>
      <td><%= @user.questions.count %></td>
      <td><%= question.content %></td>
      <td><%= time_ago_in_words(question.created_at) %></td>
      <td><%= link_to 'Show', user_question_path(:email => question.user.id, :id => question.id) %></td>
       <% if question.user == current_user %>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
<% end %>
</tbody>
</table>
  <h3>Following</h3>
  <ul>
    <% @user.followed_questions.each do |question| %>
    <li><%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %></li>
  </ul>
  <% end %>
</div>

  <li><%= @user.answers.count %></li>
  <% @user.answers.each do |answer| %>
  <%= answer.votes_for.size %>
  <% end %>