<% if signed_in? %>
<%= form_for([@question, @answer]) do |f| %>
  <div class="field">
    <%= f.text_area :answer_content %>
  </div>
  <button class="btn" type="Submit">
    Create
  </button>
<% end %>
<% else %>
<%= form_for(:session, url: sessions_path) do |f| %>
                    <%= f.text_area :email %>
                    <%= f.submit "Create", class: "btn btn-large btn-primary" %>
                  <% end %>
<% end %>